<html>
    <head>
        <title>Recipe Book</title>
    </head>
    <body>
        <header>
            <nav>
                <h1>Recipe Book</h1>
                {% if request.user.is_authenticated %}
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </nav>
        </header>

        {% block content %}
        {% endblock %}
    </body>
</html>